# Binaries
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment variables
.env
.env.local

# Dependency directories
vendor/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
